html,
body,
#__next 
{   
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    z-index: +1;
    touch-action: none;
}

.selectedTest {
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: +2;
}